!------------------------------------------------------------------------------
! ROFI color theme
!------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #202020, #202020, #13ff58
rofi.color-normal: #202020, #13ff58, #202020, #13ff58, #202020
rofi.color-active: #202020, #268bd2, #202020, #268bd2, #202020
rofi.color-urgent: #202020, #dc322f, #202020, #dc322f, #202020
