!------------------------------------------------------------------------------
! ROFI color theme
!------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #202020, #13FF58, #202020
rofi.color-normal: #202020, #13FF58, #202020, #13FF58, #202020
rofi.color-active: #202020, #268BD2, #202020, #268BD2, #202020
rofi.color-urgent: #202020, #DC322f, #202020, #DC322f, #202020
